<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- hush the unit test runner -->
  <logger name="com.github.charithe.kafka.EphemeralKafkaBroker" level="WARN"/>
  <logger name="kafka.server.BrokerMetadataCheckpoint" level="OFF"/>

  <!-- don't waste logs when ZK check fails -->
  <logger name="org.apache.zookeeper.ClientCnxn" level="OFF"/>
  <logger name="org.apache.kafka.clients.NetworkClient" level="OFF"/>
  <logger name="com.github.charithe.kafka" level="INFO"/>

  <!-- uncomment to include kafka consumer configuration in test logs -->
  <!--<logger name="org.apache.kafka.clients" level="INFO"/>-->

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
